@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono";
  font-weight: 400;
}

h1, h2, h3 {
  padding: 12px;
}

.fullpage {
  width: 100%;
  min-height: 100vh;
}

.light-grey {
  background: #b2b9ed;
  color: #000;
}

.green-shade {
  background: #b2edbd;
  color: #000;
}

.img-responsive {
  max-width: 100%;
  max-height: 100%;
}

.phone-image {
  max-width: 240px;
  max-height: auto;
  overflow: hidden;
  border: solid 5px #454545;
  border-bottom: solid 25px #454545; 
  border-top: solid 25px #454545; 
  border-radius: 15px;
}

.flex-space-evenly {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.hero-heading {
  max-width: 540px;
}

.hero-heading h2 {
  font-size: 3rem;
}

.general-heading {
  padding: 32px;
  font-size: 2.25rem;
}

.feature-list h3 {
  padding: 16px;
  font-size: 1.5rem;
}

.devices-list {
  list-style-type: square;
}

.conributers-list {
  list-style-type: none;
}

.conributers-list li {
  font-size: 1.2rem;
  padding: 0.5rem;
}

.download-btn {
  font-size: 1.2rem;
  display: block;
  margin: 1rem;
  padding: 0.5rem;
}

.download-link {
  text-decoration: none;
}

.height-30vh {
  min-height: 30vh; 
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}